language: php

php:
  - 5.6
  - 5.5
  - 5.4

before_script:
  - composer install

script: 
    - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)